
	<nav class="navbar navbar-default">
	  <div class="container container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">
	        <img alt="Brand" src="/images/faculty.png" class="logo" />
	        <a class="navbar-brand brand-text" href="#">Faculty Appraisal</a>
	      </a>
	    </div>
	    <a ui-sref="staff_appraisal_login"><p class="navbar-text navbar-right navbar-link">Logout</p></a>
	  </div>
	</nav>

	<div class="container">
		<div class="row content">
			<div class="col-lg-4 col-sm-4">
				<h3> Faculty </h3>
				<div class="list-group">
				  <a ng-click="loadQuestion(key)" class="list-group-item {{active.id == key ? 'active': ''}}" ng-repeat="(key,value) in teachers">
				  	<div class="row">
						<div class="col-md-9">
							<h4 class="list-group-item-heading">{{value.details.first_name}}</h4>
				    		<p class="list-group-item-text">{{key}}</p>
						</div>
						<div class="col-md-3 hidden">
							<span id="q1_badge" class="badge badge-active">DONE</span>
						</div>
				  	</div>

				  </a>
				</div>

				<button type="button" ng-click="finalSubmit()" class="btn btn-default btn-final btn-lg">Submit</button>
			</div>
			<div class="col-lg-8 col-sm-8">
				<h3> Enter Feedback</h3>

				<div class="alert alert-success alert-dismissible" role="alert" ng-hide="alert_hide">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  You've successfully submitted feedback for <strong>Nivya Muchikel</strong>
				</div><!-- /alert -->

				<div class="panel panel-default">
				  <div class="panel-heading">Basic Information</div>
				  <div class="panel-body">
				  	<table class="table borderless zero-padding">
				  		<tbody>
					  		<tr>
					  			<td> <h4> Staff Name: </h4></td>
					  			<td> <h4> <strong>{{active.teacher.details.first_name}}</strong> </h4></td>
					  		</tr>				  		
					  		<tr>
					  			<td> <h4> Subject: </h4></td>
					  			<td> <h4> <strong>Applied Mathematics - 4</strong> </h4></td>
					  		</tr>				  		
					  		<tr>
					  			<td> <h4>Code: </h4></td>
					  			<td> <h4> <strong>{{active.id}}</strong> </h4></td>
					  		</tr>
				  		</tbody>
				  	</table>
				  </div>
				</div>

				<div class="panel panel-info">
					<div class="panel-heading">Feedback</div>
					<div class="panel-body panel-feedback">
						<ol class="questions">
							<li ng-repeat = "question in questions track by $index">
								<h4><strong>{{question.q_text}}</strong></h4>
								<div class="radio">
							      <label><input type="radio" ng-model="question.answer" class="rad-btn" name='{{question.q_id}}' value="10" />{{question.q_a1}}</label>
							    </div>
							    <div class="radio">
							      <label><input type="radio"  ng-model="question.answer" class="rad-btn" name='{{question.q_id}}' value="8" />{{question.q_a2}}</label>
							    </div>
							    <div class="radio">
							      <label><input type="radio" ng-model="question.answer" class="rad-btn" name='{{question.q_id}}' value="6" />{{question.q_a3}}</label>
							    </div>
							    <div class="radio">
							      <label><input type="radio" ng-model="question.answer" class="rad-btn" name='{{question.q_id}}' value="4" />{{question.q_a4}}</label>
							    </div>
							</li>
							

						</ol>	

						<button ng-click="submit()" type="submit" class="btn btn-primary btn-submit btn-lg">Submit</button>			
					</div>
				</div>

			</div>
		</div>
	</div>


