
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">
	        <img alt="Brand" src="/images/faculty.png" class="logo">
	        <a class="navbar-brand brand-text" href="index.html">Faculty Appraisal</a>


	      </a>
	    </div>
	    <a ui-sref="student_appraisal_login"><p class="navbar-text navbar-right navbar-link">Student Login</p></a>
	  </div>
	</nav>

	<div class="vertical-container">
		<div class="vertical-center">
			<article class="box box-more">
				<h2>Log In</h2>
				<form>
					<label class="field-label">
					User Id
					</label>
					<div class="input-group">
						<input ng-model="staff_user_id" type="text" class="input large input-large" value maxlength="40">
					</div>


					<label class="field-label">
					Password
					</label>
					<div class="input-group">
						<input ng-model="staff_user_password" type="password" class="input large input-large" value>
					</div>

					<div class="button-group">
							<button ng-click="loginStaff()" type="submit" class="button is-info large" role="button">Login</button>
					</div>
	
					
				</form>
			</article>
		</div>
	</div>
