	<div class="container boxed">
		<div class="row">
			<div class="col-xs-12" style="position:relative;">
				<div class="inner">
					<img src="/images/logo.jpg" class="logorv">
				</div>
				<div class="col-xs-12 inner">
					<h1 class="rvce text-center"><strong>RV College of Engineering</strong></h1>
					<h4 class="text-center padding-bott">(Autonomous Institute under VTU)</h4>
					<h1 class="rvce text-center rvce2">Theory Course - Appraisal Sheet</h1>
					<h4 class="text-center"><strong>Jan-15 / Apr-15</strong></h4>
				</div>
			</div>
			
		</div>
		<div class="gap"></div>
		<div class="row" style="margin-bottom: 20px;">
			<div class="col-xs-6">
				<h3>Name: <strong>Ms. Shanta Rangaswamy</strong></h3>
				<h3>Dept: <strong>Computer Science</strong></h3>
				<h3>Subject: <strong>Game theory </strong>[ 12CS99 ]</h3>
				<h3>No. of students: <strong>18</strong></h3>
			</div>
			<div class="col-xs-6">
				<h3>Designation: <strong>Assistant Professor</strong></h3>
				<h3>Semester: <strong>4</strong></h3>
				<h3>Class(Section): <strong>C</strong></h3>
				<h3>No of students who have appraised: <strong>14</strong></h3>
			</div>
			
		</div>

		<table class="table table-hover table-report table-bordered">
		   <thead>
		      <tr>
		         <th>Q.No.</th>
		         <th>A</th>
		         <th>B</th>
		         <th>C</th>
		         <th>D</th>
		         <th>Total Score</th>
		      </tr>
		   </thead>
		   <tbody>
		      <tr>
		         <td class="col-md-2">1</td> 
		         <td class="col-md-2">80</td>
		         <td class="col-md-2">32</td>
		         <td class="col-md-2">12</td>
		         <td class="col-md-2">0</td>
		         <td class="col-md-2">124</td>
		      </tr>
		      <tr>
		         <td class="col-md-2">1</td>
		         <td class="col-md-2">80</td>
		         <td class="col-md-2">32</td>
		         <td class="col-md-2">12</td>
		         <td class="col-md-2">0</td>
		         <td class="col-md-2">124</td>
		      </tr>
		      <tr>
		         <td class="col-md-2">1</td>
		         <td class="col-md-2">80</td>
		         <td class="col-md-2">32</td>
		         <td class="col-md-2">12</td>
		         <td class="col-md-2">0</td>
		         <td class="col-md-2">124</td>
		      </tr>
		      <tr>
		         <td class="col-md-2">1</td>
		         <td class="col-md-2">80</td>
		         <td class="col-md-2">32</td>
		         <td class="col-md-2">12</td>
		         <td class="col-md-2">0</td>
		         <td class="col-md-2">124</td>
		      </tr>
		      <tr>
		         <td class="col-md-2">1</td>
		         <td class="col-md-2">80</td>
		         <td class="col-md-2">32</td>
		         <td class="col-md-2">12</td>
		         <td class="col-md-2">0</td>
		         <td class="col-md-2">124</td>
		      </tr>
		      <tr>
		         <td class="col-md-2">1</td>
		         <td class="col-md-2">80</td>
		         <td class="col-md-2">32</td>
		         <td class="col-md-2">12</td>
		         <td class="col-md-2">0</td>
		         <td class="col-md-2">124</td>
		      </tr>
		      <tr>
		      	<td colspan="5"><strong>TOTAL</strong></td>
		      	<td>1872</td>
		      </tr>		      
		      <tr>
		      	<td colspan="5"><strong>Percentage</strong></td>
		      	<td>89.14%</td>
		      </tr>
		   </tbody>
		</table>
	</div>