	<div class="container boxed">
		<div class="row">
			<div class="col-xs-2">
				<img src="/images/logo.jpg" width="80%">
			</div>

			<div class="col-xs-10">
				<h1 class="rvce text-center">RV College of Engineering</h1>
				<h3 class="text-center">Autonomous Institute under VTU</h4>
				<h2 class="text-center"><strong>APPRAISAL SUMMARY SHEET</strong></h3>
				<h2 class="text-center">Theory Course Evaluation</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6">
				<h3>Name: <strong>Ms. Shanta Rangaswamy</h3>
				<h3>Dept: <strong>Computer Science</h3>
			</div>
			<div class="col-xs-6">
				<h3>Designation: <strong>Assistant Professor</strong></h3>
				<h3>Semester: <strong>4</strong></h3>
			</div>
			
		</div>

		<table class="table table-hover table-report">
		   <thead>
		      <tr>
		         <th>Q.No.</th>
		         <th>A</th>
		         <th>B</th>
		         <th>C</th>
		         <th>D</th>
		         <th>Total Score</th>
		      </tr>
		   </thead>
		   <tbody>
		      <tr>
		         <td>1</td>
		         <td>80</td>
		         <td>32</td>
		         <td>12</td>
		         <td>0</td>
		         <td>124</td>
		      </tr>
		      <tr>
		         <td>1</td>
		         <td>80</td>
		         <td>32</td>
		         <td>12</td>
		         <td>0</td>
		         <td>124</td>
		      </tr>
		      <tr>
		         <td>1</td>
		         <td>80</td>
		         <td>32</td>
		         <td>12</td>
		         <td>0</td>
		         <td>124</td>
		      </tr>
		      <tr>
		         <td>1</td>
		         <td>80</td>
		         <td>32</td>
		         <td>12</td>
		         <td>0</td>
		         <td>124</td>
		      </tr>
		      <tr>
		         <td>1</td>
		         <td>80</td>
		         <td>32</td>
		         <td>12</td>
		         <td>0</td>
		         <td>124</td>
		      </tr>
		      <tr>
		         <td>1</td>
		         <td>80</td>
		         <td>32</td>
		         <td>12</td>
		         <td>0</td>
		         <td>124</td>
		      </tr>
		      <tr>
		      	<td colspan="5"><strong>TOTAL</strong></td>
		      	<td>1872</td>
		      </tr>		      
		      <tr>
		      	<td colspan="5"><strong>Percentage</strong></td>
		      	<td>89.14%</td>
		      </tr>
		   </tbody>
		</table>
	</div>