
       
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Computer Organization &amp; Architecture</h1>
          <h4><strong>Classes held :</strong> 34</h4>
          <h4><strong>Classes attended :</strong> 33</h4>
          <h4><strong>Percentage :</strong> 97.05</h4>

          <h2 class="sub-header">Register</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Sl. No</th>
                  <th>Date</th>
                  <th>Attendance</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Aug 3</td>
                  <td><div class="att_green"></div></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Aug 4</td>
                  <td><div class="att_green"></div></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Aug 7</td>
                  <td><div class="att_green"></div></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Aug 8</td>
                  <td><div class="att_green"></div></td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Aug 10</td>
                  <td><div class="att_red"></div></td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Aug 11</td>
                  <td><div class="att_green"></div></td>
                </tr>
                 <tr>
                  <td>7</td>
                  <td>Aug 14</td>
                  <td><div class="att_green"></div></td>
                </tr>
                 <tr>
                  <td>8</td>
                  <td>Aug 16</td>
                  <td><div class="att_green"></div></td>
                </tr>

              </tbody>
            </table>
          </div>

          <h2 class="sub-header">Exams</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th>Quiz (15)</th>
                  <th>Test (50)</th>
                  <th>Total (40)</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>CIE I</td>
                  <th>9</th>
                  <th>30</th>
                  <th>24</th>
                </tr>
                <tr>
                  <td>CIE II</td>
                  <th>12</th>
                  <th>40</th>
                  <th>32</th>
                </tr> 
                <tr>
                  <td>CIE III</td>
                  <th>-</th>
                  <th>-</th>
                  <th>-</th>
                </tr>                                 
              </tbody>
            </table>
          </div>  
        </div>
      </div>
    </div>

    
     