<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>

          <h2 class="sub-header">Subjects</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Classes</th>
                  <th>Attended</th>
                  <th>Percentage</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>COA</td>
                  <td>34</td>
                  <td>33</td>
                  <td>97.05</td>
                </tr>
                <tr>
                  <td>DLD</td>
                  <td>31</td>
                  <td>26</td>
                  <td>83.87</td>
                </tr>
                <tr>
                  <td>DSC</td>
                  <td>15</td>
                  <td>13</td>
                  <td>86.67</td>
                </tr>
                <tr>
                  <td>DMS</td>
                  <td>33</td>
                  <td>31</td>
                  <td>93.93</td>
                </tr>
                <tr>
                  <td>EM</td>
                  <td>25</td>
                  <td>20</td>
                  <td>80</td>
                </tr>
                <tr>
                  <td>Math-3</td>
                  <td>40</td>
                  <td>33</td>
                  <td>82.5</td>
                </tr>
              </tbody>
            </table>
          </div>

          <h2 class="sub-header">Lab</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Classes</th>
                  <th>Attended</th>
                  <th>Percentage</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>DLD</td>
                  <td>8</td>
                  <td>7</td>
                  <td>87.5</td>
                </tr>
                <tr>
                  <td>DSC</td>
                  <td>9</td>
                  <td>7</td>
                  <td>77.78</td>
                </tr>
              </tbody>
            </table>
          </div>

          <h2 class="sub-header">Exams</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Title</th>
                  <th colspan="3">CIE - I</th>
                  <th colspan="3">CIE - II</th>
                  <th colspan="3">CIE - III</th>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th></th>
                  <th>Test</th>
                  <th>Quiz</th>
                  <th>Sum</th>
                  <th>Test</th>
                  <th>Quiz</th>
                  <th>Sum</th>
                  <th>Test</th>
                  <th>Quiz</th>
                  <th>Sum</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>COA</td>
                  <td>30</td>
                  <td>9</td>
                  <td>24</td>

                  <td>40</td>
                  <td>12</td>
                  <td>32</td>

                  <td>-</td>
                  <td>-</td>
                  <td>-</td>

                </tr>
                <tr>
                  <td>DLD</td>
                  <td>32</td>
                  <td>8</td>
                  <td>24</td>

                  <td>42</td>
                  <td>10</td>
                  <td>31</td>

                  <td>-</td>
                  <td>-</td>
                  <td>-</td>

                </tr>
                <tr>
                  <td>DSC</td>
                  <td>46</td>
                  <td>13</td>
                  <td>36</td>

                  <td>-</td>
                  <td>-</td>
                  <td>-</td>

                  <td>-</td>
                  <td>-</td>
                  <td>-</td>

                </tr>
                <tr>
                  <td>DMS</td>
                  <td>36</td>
                  <td>13</td>
                  <td>31</td>

                  <td>50</td>
                  <td>14</td>
                  <td>39</td>

                  <td>-</td>
                  <td>-</td>
                  <td>-</td>

                </tr>
                <tr>
                  <td>EM</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>

                  <td>45</td>
                  <td>12</td>
                  <td>40</td>

                  <td>-</td>
                  <td>-</td>
                  <td>-</td>

                </tr>
                <tr>
                  <td>Math-3</td>
                  <td>48</td>
                  <td>13</td>
                  <td>37</td>

                  <td>50</td>
                  <td>14</td>
                  <td>39</td>

                  <td>-</td>
                  <td>-</td>
                  <td>-</td>

                </tr>
                

              </tbody>
            </table>
          </div>

          <h2 class="sub-header">Lab Exams</h2>
          <div class="table-responsive">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Max. Mark</th>
                  <th>Score</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>DLD</td>
                  <td>50</td>
                  <td>43</td>
                </tr>
                <tr>
                  <td>DSC</td>
                  <td>50</td>
                  <td>45</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>